<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Attendance Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <code>Active Account: {{this.chainService.selectedAccount}}</code>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <form #AddForm="ngForm" (ngSubmit)="this.addEmployee()">
        <h4>Add Employee</h4>
        <div class="mb-3">
          <label for="employeeId" class="form-label">Employee Id</label>
          <input #EmployeeId="ngModel" [(ngModel)]="this.addEmployeeId" name="addEmployeeId" type="number"
            class="form-control" id="employeeId" aria-describedby="employeeIdHelp" required>
          <div id="employeeIdHelp" class="form-text">ID of employee</div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" #EmployeeName="ngModel" [(ngModel)]="this.addEmployeeName"
            name="addEmployeeName" id="name" aria-describedby="nameHelp" required>
          <div id="nameHelp" class="form-text">Full Name of employee</div>
        </div>
        <div class="mb-3">
          <label for="designation" class="form-label">Designation</label>
          <input type="text" class="form-control" id="designation" #EmployeeDesignation="ngModel"
            [(ngModel)]="this.addEmployeeDesignation" name="addEmployeeName" aria-describedby="designationHelp"
            required>
          <div id="designationHelp" class="form-text">Designation of employee</div>
        </div>
        <button type="submit" [disabled]="!(this.chainService.isWhiteListed && this.AddForm.valid)"
          class="btn btn-primary">Add Employee</button>
      </form>
    </div>
    <div class="col">
      <form #CheckInOutForm="ngForm">
        <h4>Checkin/Checkout Employees</h4>
        <div class="mb-3">
          <label for="employeeId" class="form-label">Employee Id</label>
          <input [(ngModel)]="this.checkInOutEmployeeId" name="checkInOutEmployeeId" type="number" class="form-control" id="employeeId" aria-describedby="employeeIdHelp" required>
          <div id="employeeIdHelp" class="form-text">ID of employee</div>
        </div>

        <button type="button" (click)="this.checkIn()"
          [disabled]="!(this.chainService.isWhiteListed && this.CheckInOutForm.valid)"
          class="btn btn-success me-3">Check In</button>
        <button type="button" (click)="this.checkOut()"
          [disabled]="!(this.chainService.isWhiteListed && this.CheckInOutForm.valid)" class="btn btn-warning">Check
          Out</button>
      </form>
    </div>
    <div class="col">
      <form #getLogsForm="ngForm" class="mb-4" (ngSubmit)="this.getLogs()">
        <h4>Check Log</h4>
        <div class="mb-3">
          <label for="employeeId" class="form-label">Employee Id</label>
          <input [(ngModel)]="this.getLogsId" name="getLogsId" type="number" class="form-control" id="employeeId" aria-describedby="employeeIdHelp" required>
          <div id="employeeIdHelp" class="form-text">ID of employee</div>
        </div>
        <button [disabled]="this.getLogsForm.invalid" type="submit" class="btn btn-primary">Check Log</button>
      </form>
      <hr>

      <div *ngFor="let log of this.logs" class="card mb-1">
        <div class="card-body">
          <p *ngIf="log.returnValues.checkin; else CHECKOUT" class="card-text text-success">Check In</p>
          <ng-template #CHECKOUT>
            <p class="card-text text-danger">Check Out</p>
          </ng-template>
        </div>
        <div class="card-footer text-muted">
          {{log.returnValues.timestamp * 1000 | date : 'medium'}}<br>
          <small>Txn Hash: <code>{{log.transactionHash}}</code></small>
        </div>
      </div>


    </div>
  </div>
</div>
